CLOUDINARY_KEY=your_cluodinary_key
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_SECRET=your_cloudinary_secret
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
NODE_ENV=development
PORT=5000